@import "tailwindcss";

@theme {
  --animate-popdown: popdown 0.3s ease-out 1s forwards;
  @keyframes popdown {
    100% {
      transform: translateX(100px) translateY(100px);
    }
  }
  --animate-popup: popup 0.3s ease-out 1s forwards;
  @keyframes popup {
    100% {
      transform: translateX(-200px) translateY(-200px);
    }
  }
  --animate-disapearpage: disapearpage 1s ease-out 2s forwards;

  @keyframes disapearpage {
    100% {
      display: none;
      opacity: 0%;
    }
  }

  --animate-apearpage: apearpage 0.2s ease-in forwards;
  @keyframes apearpage {
    100% {
      opacity: 100%;
    }
  }
  --animate-2picture: 2picture 0.3 ease-in forwards;
  @keyframes \2picture {
    100% {
      transform: translateX(-375px);
    }
  }
  --animate-open-menu: open-menu easy-out 0.3 forwards;
  @keyframes open-menu {
    100% {
      transform: translateX(100px);
      background-color: red;
    }
  }
  --animate-close-menu: close-menu easy-out 0.3 forwards;
  @keyframes close-menu {
    100% {
      transform: translateX(375px);
    }
  }
}

/* .triangle {
	position: relative;
	background-color: rgb(0, 0, 0);

}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  1px;
	height: 10px;
	border-top-right-radius: 10%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg)  translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translateX(47%) translateY(-20%) ;
} */

.triangle {
  clip-path: polygon(0% 25%, 50% 75%, 100% 25%);
}

.category-bg {
  /* clip-path: polygon(5% 0%, 0% 100%, 100% 100%, 95% 0%);
  border-radius: 24px;
  background-color: #ffffff10; */

  clip-path: polygon(5% 0%, 0% 100%, 100% 100%, 95% 0%);
  background: #ffffff;
  border-radius: 25px;
}

* {
  scrollbar-color: rgb(156, 156, 156) transparent;
  scrollbar-width: thin;
  scroll-snap-stop: normal;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.text-greeeen {
  color: #059c6a;
}

.div-bg-hover {
  
}
.div-bg-hover:hover::before {
content: '';
width: 400px;
height: 300px;
display: block;
background-color: red;
position: absolute;
}
